{% extends "layout.njk" %}
{% block  content %}

<div class="commentForm">
<form action="/bio" method="post">
    <h1>{{ user }}'s {{ title }}</h1>
    <textarea name="bio" id="bio" rows="8">{{ info[0].Desc }}</textarea>
    <button type="submit">Update</button>
</form>
</div>

{% endblock %} 