{% extends "layout.njk" %}
{% block  content %}


<form action="/comment" method="post">
    <h1>Make a Comment</h1>
    <label for="author">Author</label>
    <select name="author" id="author">
        {% for user in users %}
            <option value="{{ user.id }}">{{ user.name }}</option>
        {% endfor %}
    </select>
    <label for="post">Post</label>
    <select name="post" id="post">
        {% for post in posts %}
            <option value="{{ post.id }}">{{ post.title }}</option>
        {% endfor %}
    </select>
    <label for="content">Content</label>
    <textarea name="content" id="content" rows="10"></textarea>
    <button type="submit">Send</button>
</form>

{% endblock %}
