<footer>
    <div class="container">
        <p>
            Sida gjord av <a href="https://github.com/Hjalmar-Lundmark">Hjalmar Lundmark</a>.
            Koden finns på <a href="https://github.com/Hjalmar-Lundmark/wsp1-forum-login">github</a>
        </p>
    </div>
</footer>