{% extends "layout.njk" %}
{% block  content %}

<h1>Posts</h1>
<ul>
    {% for row in rows %}
        <li>
            User: {{ row.name }}
            <h2>{{ row.title }}</h2> 
            <p>{{ row.content }}</p> 
            <h6>Posted {{ row.createdAt }}</h6>
            <a href="/post/{{ row.id }}">Comments</a>
        </li>
    {% endfor %}
    <img src="/images/doggo.jpg" alt="doggo">
</ul>
{% endblock %}
