{% extends "layout.njk" %}
{% block  content %}

<ul>
    {% for row in rows %}
        <li>
            Post {{ row.id }}: User: {{ row.authorId }}
            <h3>{{ row.title }}</h3> <p>{{ row.content }}</p> 
            <h5>Posted {{ row.createdAt }}</h5>
        </li>
    {% endfor %}
</ul>
<img src="images/doggo.jpg" alt="doggo">
{% endblock %}
