{% extends "layout.njk" %}
{% block content %}

<h1>Posts</h1>
<ul>
    {% for row in rows %}
    <li>
        <div class="postContent">
            <p>User: {% if row.name %}<a href="/user/{{ row.authorId }}">{{ row.name }}</a>
            {% else %}[Deleted user]{% endif %}</p>
            <h2>{{ row.title }}</h2>
            <p>{{ row.content }}</p>
            <h6>Posted {{ row.createdAt }}</h6>
            <a href="/post/{{ row.id }}">Comments</a>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}