{% extends "layout.njk" %}
{% block content %}

<div class="post">
    <div class="postContent">
        <p>User: {% if post.name %}<a href="/user/{{ post.authorId }}">{{ post.name }}</a>
        {% else %}[Deleted user]{% endif %}</p>
        <h2>{{ post.title }}</h2>
        <p>{{ post.content }}</p>
        <h6>Posted {{ post.createdAt }}</h6>
    </div>
</div>

{% for row in comments %}
<div class="comment">
    <div class="postContent">
        <p>User: {% if row.name %}<a href="/user/{{ row.authorId }}">{{ row.name }}</a>
        {% else %}[Deleted user]{% endif %}</p>
        <p>{{ row.content }}</p>
        <h6>Posted {{ row.date }}</h6>
    </div>
</div>
{% endfor %}

{% if loggedIn %}
<div class="commentForm">
<form action="/comment" method="post">
    <h1>Make a Comment</h1>
    <label for="author">Logged in as: {{ user }}</label>
    <select name="post" id="post" style="display: none;">
        <option value="{{ post.id }}">{{ post.title }}</option>
    </select>
    <label for="content">Content</label>
    <textarea name="content" id="content" rows="3"></textarea>
    <button type="submit">Send</button>
</form>
</div>

{% if error.err[0] %}
<div class="error">
    <ul>
        <h3>Errors</h3>
        {% for row in error.err %}
        <li>
            {{ row }}
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% endif %}


{% endblock %}