{% extends "layout.njk" %}
{% block  content %}

<div class="post">
    User: {{ post[0][0].name }}
    <h2>{{ post[0][0].title }}</h2> 
    <p>{{ post[0][0].content }}</p> 
    <h6>Posted {{ post[0][0].createdAt }}</h6>
</div>

{% for row in comments[0] %}
<div class="comment">
    User: {{ row.name }}
    <p>{{ row.content }}</p>
    <h6>Posted {{ row.date }}</h6>
</div>
{% endfor %}
{% endblock %}