{% extends "layout.njk" %}
{% block content %}

<div class="post">
    <div class="postContent">
        <h2>{{ user.name }}'s {{ title }}</h2>
        <p>{{ user.Desc }}</p>
        <h6>Account created: {{ user.createdAt }}</h6>
        <img src="/images/doggo.jpg" alt="doggo">
    </div>
</div>

{% endblock %}