{% extends "layout.njk" %}
{% block content %}

<div class="post">
    <div class="postContent">
        <h1>{{ user.name }}</h1>
        <p>Idk what to put here so have a dog pic</p>
        <img src="/images/doggo.jpg" alt="doggo">
    </div>
</div>

{% endblock %}